<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">
<p>Client: {{InvoiceCtrl.invoice.client}}</p>
<p>Date: {{InvoiceCtrl.invoice.date}}</p>
<p>Total: {{InvoiceCtrl.invoice.total}}</p>

<div id="invoice-table-container" class="col-md-12 col-xs-12">
	<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>Job</th>
			<th>Hours</th>
			<th>Job Started</th>
			<th>Job Ended</th>
			<th>Notes</th>
			<th>Rate</th>
			<th>Tax</th>
			<th>Total</th>
		</tr>
	</thead>
  <tbody>
    <tr>
      <form name="new-invoice">
        <th><div class="input-group"><input type="text" class="form-control" ng-model="InvoiceCtrl.inputJob"></input></div></th>
        <th><div class="input-group"><input type="text" class="form-control" ng-model="InvoiceCtrl.inputHours" ng-change="InvoiceCtrl.updateTotal()"></input></div></th>
        <th><div class="input-group"><input type="text" class="form-control" ng-model="InvoiceCtrl.inputTimeStarted"></input></div></th>
        <th><div class="input-group"><input type="text" class="form-control" ng-model="InvoiceCtrl.inputTimeEnded"></input></div></th>
        <th><div class="input-group"><input type="text" class="form-control" ng-model="InvoiceCtrl.inputNotes"></input></div></th>
        <th><div class="input-group"><input type="text" class="form-control" ng-model="InvoiceCtrl.inputRate" ng-change="InvoiceCtrl.updateTotal()"></input></div></th>
        <th><div class="input-group"><input type="text" class="form-control" ng-model="InvoiceCtrl.inputTax" required></input></div></th>
        <th><button class="btn btn-success"><i class="fa fa-plus"/> {{ InvoiceCtrl.inputTotal | currency }}</button></th>
      </form>
    </tr>
    <tr ng-repeat="entry in InvoiceCtrl.invoice.entries track by $index">
      <td>{{entry.job}}</td>
      <td>{{entry.hours}}</td>
      <td>{{entry.timeStarted}}</td>
      <td>{{entry.timeEnded}}</td>
      <td>{{entry.notes}}</td>
      <td>{{entry.rate | currency }}</td>
      <td>{{entry.tax}}</td>
      <td>{{entry.total | currency }}</td>
    </tr>
  </tbody>
	</table>
</div>

</div>
